# Data file that needs to be local
csub_default.json

# Ignore all folders that are just backups created by ASE
*.bak-*

# CASTEP files that would only take space
*.check
*.castep_bin
*.den_fmt
*.bands
*.bib
*.err
*.cst_esp
*.usp
*/[0-9][0-9][0-9][0-9][0-9][0-9].log
aluminium-adatom/alau-cconv/AlAu_cconv_in/*/[0-9][0-9][0-9][0-9][0-9][0-9].log
!copper-vacancy-morse/Cu_C19_LDA_OTF.usp

# Jupyter Notebooks
.ipynb_checkpoints

# Extra folders
copper-vacancy-morse/cuvac-morse-energy/*
copper-vacancy-morse/cuvac-socket-morse/*